page-about {
    ion-content{
        background-image: url('../../assets/imgs/3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .div{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-gap: 1em;
        position: relative;
        top: 40px;
    }

    

    .card{    
        margin-top: 2px;
        height: 100%;
        width: 90%;
        border-radius: 10px 10px 10px 10px ;
        font-family: system;
        font-style: normal;
        
       

    }
    
    .button{
        width: 200px;

        justify-content: center;
    }
    ion-icon{
        font-size: 3.5em;
        
    }
    ion-card-title{
        font-size: 1em;
        font-family: system;
        font-style: normal;
    }
    ion-card{
        text-align: center;
    }


}



