page-display {
    .top{
        width: 120%;
        margin-left: -30px;
       
    }
    p{
        font-family: system;
        font-style: normal;
    }
    h3{
        font-family: system;
        font-style: normal;

    }
    ion-title{
        font-family: system;
        font-style: normal;
        

    }
   
  

}
